body {
  font-family: Sans-Serif;
  max-width: 500px;
  margin: 20px auto;
  background-color: rgba(180, 180, 180, 0.2);
}
img {
  width: 100%;
}
.hidden {
  display: none;
}

.member {
  font-size: 1em;
}
.others {
  font-size: 0.5em;
  padding-top: 10px;
}
.skip-step {
  text-align: right;
}
table tr.skip-step td {
  padding: 0 10px 10px 0;
}
.skip-step a {
  text-decoration: none;
  color: white;
  font-size: 0.5em;
}

table {
  font-size: 2em;
  background-color: #fdcd0d;
  color: white;
  max-width: 470px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgba(247, 182, 8, 0.59);
  margin: 20px auto;
}

table tr {
  text-align: center;
}
table td {
  padding: 20px 10px;
}
table input[type=text] {
  color: #F3633A;
  background-color: #fdcd0d;
  border: 0;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  width: 90%;
  border-bottom: 2px dashed white;
  outline: none;
}
button {
  width: 200px;
  margin-left: -75px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 0.75em;
  color: #F7E4BE;
  background-color: #ec572d;
}
button.first {
  margin-left: 0;
}

button:disabled {
  background-color: #DFA11E;
}
button:hover:enabled {
  background-color: #F87F5D;
  cursor: pointer;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

table input[type=button], select {
  width: 100px;
  margin-left: 0;
  color: rgb(56, 50, 50);
  background-color: rgba(235, 235, 235, 1);
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 0.85em;
}
table input[type=button]:hover {
  background-color: rgba(204, 204, 204, 1);
  cursor: pointer;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

select {
  -webkit-appearance: none;
  background-color: #fdcd0d;
  width: 17%;
  border-bottom: 2px dashed white;
  color: #F3633A;
  padding: 0;
  padding-left: 10px;
}

select:focus {
  outline: none;
}

::-webkit-input-placeholder { color: #F3633A; }
:-moz-placeholder { color: #F3633A; }
::-moz-placeholder { color: #F3633A; }
:-ms-input-placeholder {  color: #F3633A; }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    max-width: none;
    font-size: 2em;
  }
  table {
    /*font-size: 2em;*/
    max-width: none;
    width: 94%;
  }
  table input[type=button] {
    font-size: 0.5em;
    -webkit-appearance: none;
  }
}