<html>
<head>
  <title>TapRoot Coding Exercise</title>
  <script type="text/javascript" src="../javascripts/jquery.js"></script>
  <script type="text/javascript" src="../javascripts/form.js"></script>
  <link rel="stylesheet" type="text/css" href="../styling/style.css">
</head>
<body>
  <header>
    <img src="../styling/taproot.png">
  </header>
  <table>
    <tbody class='family'></tbody>
    <tr class="skip-step"><td><a href="../index.html" class="clear">Reset</a></td></tr>
  </table>
</body>
</html>